:root {
    --btn-color: #8098FF;
}

body {
    background: rgb(255,252,255);
}

.navbar-brand {
    border-bottom: 2px solid var(--btn-color);
}

.btn-theme-primary {
    background-color: var(--btn-color);
    color: #fff;
    font-size: 1.5em;
    padding: 0.98rem 1.85rem;
    border-radius: 2.25rem;
}

.nav-item {
    color: #222;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 1.3rem !important;
    padding-right: 1.3rem !important;
    font-size: 1.2em;
}