{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="d-flex">
                <h1>See What Your Exchange Rate Will Be</h1>
                <h5>We'll find the nearest currency exchange place in your area.</h5>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="form-group form-floating mb-3">
                        {{ form.from_currency.label }}
                        {{ form.from_currency(class='form-control', placeholder='From Currency') }}
                    </div>

                </form>
            </div>
        </article>
    {% endfor %}
{% endblock content%}