{% extends "layout.html" %}
{% block content %}
    <h1 class="mt-5 display-3">About Page</h1>
    <p>CurenCee is an app that will let you convert currencies and find the nearest location for an exchange place easily.
    The app is designed to offer convenience to you when you're traveling and need to find a exchange place besides the one at your airport,
    with the service you'll be able to get directions to the nearest place you can exchange your bank notes to ones of the locality your visiting.</p>
{% endblock content%}